# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

wordpress
composer.lock
.vscode
vendor

# Tests 
tests/.env
.phpunit.result.cache
coverage.xml
coverage
coverage-report