includes:
    - vendor/a8cteam51/team51-configs/quality-assurance/phpstan.dist.neon

parameters:
    level: 8
    bootstrapFiles:
        - type-defs.php
    paths:
        - src
        - migrations
    excludePaths:
        - vendor
        - node_modules
        - assets/build
        - wordpress
        - scripts/scaffold-init.php
    ignoreErrors:
        # Add project-specific phpstan ignores here.
